target/
.metadata
.recommenders
.idea
.settings
.flattened-pom.xml
*.json
*.class
**/.class
**/.classpath
**/.project
**/doc
*.orig
*.component
*.iml
*.rej
*.log

/*/.gitignore
*/bin/
*/target/
*/.project
*/.tern-project
*/.settings/
*/data/
/*/.flattened-pom.xml

.DS_Store
*/.DS_Store
